#toggleOverlay{

}

h1{
  color:red !important;
}

#moi{
  opacity: 0;
}

.overlay, #toggleOverlay{
  display: none;
}

.btn, .btn:hover{
  opacity: 0 !important;
}

.content{
  width: 97vw;
}

.ecran1 h1{
  top:40vh;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
}
